/* *************************************** INICIO ***************************************** */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f1ea;
    color: #333;
}

.navbar {
    background-color: transparent;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0 1.5rem;
    box-sizing: border-box;
    transition: background-color 0.3s ease;
}

.navbar-scrolled {
    background-color: #000;
}

@font-face {
    font-family: 'To Be Continued';
    src: url('/fonts/Tobec___.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.logo {
    font-family: 'To Be Continued', sans-serif;
    font-size: 1.5rem;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: color 0.3s;
    padding: 1rem;
    /* Espacio dentro de los enlaces */
}

.navbar ul li a:hover {
    color: #b5651d;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.623);
    z-index: 4;
}

.hero-content {
    position: relative;
    z-index: 5;
    color: white;
}

.hero-content h2 {
    font-family: 'To Be Continued', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: -2rem;
}

.hero-content p {
    font-size: 1.2rem;
}

.hero-content .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 2rem;
    background-color: #b5651d;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.hero-content .btn:hover {
    background-color: #8a4511;
}

.about,
.products,
.contact {
    padding: 3rem 2rem;
    text-align: center;
}

.about h2,
.products h2,
.contact h2 {
    color: #b5651d;
}







/* *************************************** NOSOTROS ***************************************** */
#nosotros {
    background: url('https://i.pinimg.com/originals/14/f4/35/14f435eaaf8d107cca5055ce150eaf47.gif') no-repeat center center/cover;
    padding: 5rem 2rem;
    text-align: center;
    color: white;
    font-family: 'Arial', sans-serif;
    position: relative;
    z-index: 1;
}

#nosotros::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Aumenta la opacidad */
    z-index: -1;
}

#nosotros h2 {
font-family: 'To Be Continued', sans-serif;
color: #b5651d;
font-size: 4rem;
font-weight: bold;
margin-bottom: 2rem;
letter-spacing: 2px;
text-transform: uppercase;
}

#nosotros p {
font-size: 1.2rem;
max-width: 800px;
margin-left: auto;
margin-right: auto;
line-height: 1.6;
margin-bottom: 3rem;
color: #f4f1ea;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#nosotros .btn {
padding: 0.8rem 2rem;
background-color: #b5651d;
color: white;
text-decoration: none;
font-size: 1.2rem;
font-weight: bold;
border-radius: 5px;
transition: background 0.3s;
}

#nosotros .btn:hover {
background-color: #8a4511;
}







/* *************************************** PRODUCTOS ***************************************** */
    .products {
        background: url('https://64.media.tumblr.com/db8472cfbb89a155148003b053d5f3de/4d6d987e0cee7307-8e/s400x225/158142e8e876044a6191733a02f6ee5ac1643b58.gif') no-repeat center center/cover;
        padding: 5rem 2rem;
        text-align: center;
        color: white;
        font-family: 'Arial', sans-serif;
        position: relative;
        z-index: 1;
    }

    .products::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6); 
        z-index: -1;
    }

    .products h2 {
        color: #b5651d;
        font-size: 4rem;
        font-family: 'To Be Continued', sans-serif;
        font-weight: bold;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .products p {
        font-size: 1.1rem;
        color: #ffffff;
        line-height: 1.6;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    /* Grid de productos */
    .products .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
        justify-items: center;
    }

    .products .product-item {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        text-align: center;
        transition: transform 0.3s ease-in-out;
        border: 1px solid #d1d1d1; 
        padding: 20px;
        background: linear-gradient(135deg, #f5f5f5, #fff);
    }

    .products .product-item:hover {
        transform: scale(1.05);
    }

    .products .product-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-bottom: 3px solid #b5651d;
        margin-bottom: 10px; 
    }

    .products .product-item h3 {
        font-size: 1.6rem;
        color: #333;
        margin: 1rem 0;
    }

    .products .product-item p {
        font-size: 1rem;
        color: #666;
        margin-bottom: 1rem;
    }

    /* Botón de ver más */
    .products .btn-shop {
        padding: 0.8rem 2rem;
        background-color: #b5651d;
        color: white;
        text-decoration: none;
        font-weight: bold;
        border-radius: 5px;
        transition: background-color 0.3s;
        display: inline-block;
        margin-top: 10px;
    }

    .products .btn-shop:hover {
        background-color: #8a4511;
    }







    #valores {
        background: url('https://i.pinimg.com/originals/14/f4/35/14f435eaaf8d107cca5055ce150eaf47.gif') no-repeat center center/cover;
        padding: 5rem 2rem;
        text-align: center;
        color: white;
        font-family: 'Arial', sans-serif;
        position: relative;
        z-index: 1;
    }
    
    #valores::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6); /* Aumenta la opacidad */
        z-index: -1;
    }
    
    #valores h2 {
    font-family: 'To Be Continued', sans-serif;
    color: #b5651d;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    }
    
    #valores p {
    font-size: 1.2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    margin-bottom: 3rem;
    color: #f4f1ea;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    #valores .btn {
    padding: 0.8rem 2rem;
    background-color: #b5651d;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
    }
    
    #valores .btn:hover {
    background-color: #8a4511;
    }
    
    



/* *************************************** CONTACT ***************************************** */
.contact {
    background: url('https://i.pinimg.com/originals/14/f4/35/14f435eaaf8d107cca5055ce150eaf47.gif') no-repeat center center/cover;
        padding: 5rem 2rem;
        text-align: center;
        color: white;
        font-family: 'Arial', sans-serif;
        position: relative;
        z-index: 1;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}

.contact h2 {
    font-family: 'To Be Continued', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contact p {
    font-size: 1.1rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    text-align: left;
    font-weight: bold;
    margin-bottom: 5px;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    height: 120px;
    resize: none;
}

.btn {
    padding: 0.8rem 2rem;
    background-color: #b5651d;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #8a4511;
}




/* *************************************** FOOTER ***************************************** */
.footer {
    position: relative;
    background: url('https://64.media.tumblr.com/db8472cfbb89a155148003b053d5f3de/4d6d987e0cee7307-8e/s400x225/158142e8e876044a6191733a02f6ee5ac1643b58.gif') no-repeat center center/cover;
    color: #fff;
    padding: 40px 0;
    z-index: 1;
}

.footer-icon:hover {
    transform: scale(3.2);
    /* Aumenta el tamaÃ±o del Ã­cono al pasar el cursor */
    filter: brightness(3.2);
    /* Aumenta el brillo del Ã­cono al pasar el cursor */
  }

.footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Opacidad del fondo */
    z-index: -1;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    position: relative;
    z-index: 2; /* Asegura que el contenido esté sobre el fondo */
}

.footer-column {
    max-width: 300px;
    text-align: left;
}


.footer-column h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.footer-column p,
.footer-column a {
    font-size: 1rem;
    color: #d1d5db;
    text-decoration: none;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.footer-column ul li img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #555;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #9ca3af;
}